<div class="container mt-4">
    <h2>Patient Management</h2>
    
    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs mt-3 mb-4">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patient-management/list']" routerLinkActive="active">Manage Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/patient-management/add']" routerLinkActive="active">Add Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patient-management/update']" routerLinkActive="active">Update Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patient-management/delete']" routerLinkActive="active">Delete Patient</a>
      </li>
    </ul>
  
    <!-- Router outlet to load content based on navigation -->
    <router-outlet></router-outlet>
</div>
