<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Login</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input [(ngModel)]="userObj.email" name="email" required type="email" 
                    #email="ngModel"
                    class="form-control" placeholder="Enter your email">
                    @if(email.touched) {
                        <div class="text-danger">
                            @if(email?.errors?.['required']) {
                                <span>This is required</span>
                            }
                        </div>
                    }
                  </div>

                  <div class="form-group">
                    <label for="password">Password:</label>
                    <input [(ngModel)]="userObj.password" name="password" required type="password"
                    #password="ngModel" class="form-control" placeholder="Enter your password">
                    @if(password.touched) {
                        <div class="text-danger">
                            @if(password?.errors?.['required']) {
                                <span>This is required</span>
                            }
                        </div>
                    }
                  </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>

                <div class="form-group text-center">
                    <p>Don't have an account? <a routerLink="/registration">Register here</a></p>
                    <p><a routerLink="/forgot-password">Forgot password?</a></p>
                    <p><a [routerLink]="['/']" routerLinkActive="active">Go back home</a></p>

                </div>
            </form>
        </div>
    </div>
</div>
